body {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.card {
  text-align: center;
  position:absolute;
  top:20%;
  left:calc(50% - 20%);
  width:40%;
  padding: 1rem;
  color:#545353;
  box-shadow: 0 0 2px 3px #ccc;
}

/* h1 {
  text-align: center;
} */

form {
  display:flex;
  flex-flow:column;
  align-items:center;
}
button {
  padding: 4px 14px;
  text-transform:uppercase;
  background-color:#0000ffe0;
  color: white;
  border: 1px solid #0000ffe0;
  border-radius: 7px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color:#3535ff;
  border-color: #3535ff
}

button:focus {
  outline:none;
}

a {
  text-decoration: none;
  color: #0000ffe0;
  transition: all 0.3ms ;
}

a:hover,
a:active {
  color: #339fc0;
}

.errorlist {
list-style:none;
color: red;
margin: 0;
padding: 0;
}