{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Vouchers</title>
</head>

<body>
  <div class="card">
    <p>Your discount code: &nbsp;<strong>{{voucher}}</strong> </p>
    <p>You have {{discount}}&nbsp; discount</p>
    <a href="{% url 'get_discount' %}">Use another code </a>
  </div>
</body>

</html>