{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}" defer></script>
    <title>Vouchers</title>
</head>

<body>
    <div class="card">
        <h1>Please enter your voucher code</h1>
        <form method="POST" novalidate id="form">
            {% csrf_token%}
            {% for field in form %}
                {{form.as_p}}
            {% endfor%}
            <button  type="submit">get discount</button>
        </form>
    </div>
</body>

</html>